<mat-card-header>

  <div mat-card-avatar class="example-header-image"></div>

  <mat-card-title>
    <a [routerLink]="['/blog/blog-post', post.id]">
      {{ post.titlePost }}
    </a>
  </mat-card-title>

</mat-card-header>
<mat-divider></mat-divider>
<img mat-card-image [src]="post.imagePost" alt="Image Post" />
<mat-card-content>
  <p>
    {{ post.contentPost }}
  </p>
</mat-card-content>

<mat-card-actions>
  <button mat-button *ngFor="let tag of post.tagsPost" [ngClass]="tag">{{ tag | uppercase}}</button>
</mat-card-actions>
<mat-card-footer>

</mat-card-footer>
