<!--
<mat-card-header>
  <mat-card-title>
    <a [routerLink]="['/blog/blog-post', post.id]">
      {{ post.titlePost }}
    </a>
  </mat-card-title>
</mat-card-header>
<img matCardImage  [src]="post.imagePost" />
<mat-card-content>
  {{ post.contentPost }}
</mat-card-content>
<mat-divider></mat-divider>
<mat-card-actions>
  <mat-chip-list>
    <mat-chip selected *ngFor="let tag of post.tagsPost" [ngClass]="tag">
      {{ tag }}
    </mat-chip>
  </mat-chip-list>
</mat-card-actions> -->

<div class="card h-100 style-basic-hskndr">
  <img [src]="post.imagePost" class="img-thumbnail h-100 w-100" alt="..." />
  <div class="card-body">
    <h5 class="card-title">
      <a [routerLink]="['/blog/blog-post', post.id]">
        {{ post.titlePost }}
      </a>
    </h5>
    <div class="overflow-hidden show-content">
      <p class="card-text">{{ post.contentPost }}</p>
    </div>
  </div>
  <div class="card-footer">
    <small
      class="badge badge-warning m-1 p-2"
      *ngFor="let tag of post.tagsPost"
      [ngClass]="tag"
      >{{ tag | uppercase}}</small
    >
  </div>
</div>
