/* You can add global styles to this file, and also import other style files */

/*General*/

body {
  background-color: rgb(22, 26, 47);
  color: #fff;
  font-size: 1rem;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.orange {
  color: rgba(229, 85, 40, 0.5)!important;
}

.style-basic-hskndr {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(229, 85, 40, 0.5)!important;

}

.card{
  background: rgba(0, 0, 0, 0.2);
}

.building {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 83vh;
  width: 100%;
}

/*BLOG*/


.container-spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


/*TOOLBAR*/

/*Material */
.tool-bar-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-chip .mat-chip.mat-primary.mat-standart-chip{
  min-height: 1rem;
  padding: 9px;
}

.mat-toolbar {
  background: rgba(229, 85, 40, 0.5);
}




/*TEST*/
.bgc-test{
  background-color: orange;
}

.bgc-test-two{
  background-color: blue;
}

.bgc-test-three{
  background-color: green;
}
