/* Normalize */

@import '~normalize.css';
/*General*/
/*Index*/
body {
  background-color: rgba(22, 26, 47, 0.95);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/*App*/
header {
  min-height: 9vh;
}

main {
  min-height: 80vh;
}

section {
  min-height: 80vh;
}

article {
  padding: 0.5em;
}

/* Footer */

footer {
  min-height: 9vh;
}

footer .mat-toolbar {
  font-size: 1rem;
}
/*cards*/

/* Links */

a {
  text-decoration: none;
  color: rgb(38, 10, 218);
}

/*Buttons*/

button {
  color: rgba(229, 85, 40, 0.8)!important;
  border-color: rgba(229, 85, 40, 0.8)!important;

}

/*Headers*/


/* AUTH */

/* LOGIN */

.login-register-container {
  background-color: rgba(22, 26, 47, 0.95);
  height: 100%;
  /* Delete */
}

/* For Login Register Forgot-Password */

.login-register-card {
  max-width: 35em;
  margin: 1em auto;
  background-color: rgba(82, 88, 97, 0.797);
}

.mat-form-field+.mat-form-field {
  margin-left: 2em;
}

/* WRAP CONTAINER */

.wrap-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
  /* Delte */
  /*   background-color: saddlebrown;
  border: 2px dotted black;
 */
}

.wrap-content {
   width: 19em;
  margin: 0.5em;
}

/*BLOG*/

.container-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/*TOOLBAR*/

/* Toolbar Spacer */

.tool-bar-space {
  flex: 1 1 auto;
}

mat-chip .mat-chip.mat-primary.mat-standart-chip {
  min-height: 1em;
  padding: 0.1em;
}

/* Main toolbar Background-color */

.mat-toolbar {
  background: rgba(229, 85, 40, 0.8);
  /* Delete */
  /*   background-color: limegreen; */
}

/* My Styles */

/* Responsive site Media Querys  */

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}
