/* You can add global styles to this file, and also import other style files */

/*General*/

body {
  background-color: rgb(22, 26, 47);
  color: gray;
}

.orange {
  color: rgba(229, 85, 40, 0.5)!important;
}

.card {
  background-color: rgba(0, 0, 0, 0.3);
}

.building {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 83vh;
}

.container-spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sport{
  background-color: blue !important;
}
.life{
  background-color: orangered !important;
}
.style{
  background-color: red !important;
}

mat-chip .mat-chip.mat-primary.mat-standart-chip{
  min-height: 1rem;
  padding: 9px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
