<mat-card class="card">


  <mat-card class="example-card ">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{developer.name }} {{ developer.lastName }}</mat-card-title>
      <mat-card-subtitle>About Me</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/fotoPerfil.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>{{ developer.profession }}</mat-card-title>
      <p>
        {{developer.extract }}
      </p>
    </mat-card-content>
    <mat-card-actions *ngFor="let skill of developer.skills">
      <img mat-card-avatar class="example-header-image" [src]="skill.img" >
      <button mat-button>{{ skill.name }}</button>
      <p>{{ skill.description }}</p>
    </mat-card-actions>
  </mat-card>

</mat-card>
