.new-post-container {
  display: flex;
  flex-direction: column;
  form {
    margin-bottom: 20px;
    /*  input[type="file"] {
      display: none;
    } */

    input.mat-flat-button {
      width: 100%;
      color: #fff;
      background: rgba(229, 85, 40, 0.8);
      &:hover {
        background: rgba(110, 33, 10, 0.8);
      }
    }

    .custom-file {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px;
      cursor: pointer;
      width: 100%;
    }

    container-input-file {
      margin: 2rem 0;
    }

    .container-button {
      min-height: 80px;
    }

    mat-form-field {
      width: 100%;
    }
  }
}
