.tool-bar-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

a {
  color: rgba(0,0,0,0.7) !important;
  font-size: 16px;
}

a:hover {
  font-size: 14px;
  text-decoration: none;
}
