<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Portafolio</h1>
    <p class="lead">
      Espacio dedicado a mis proyectos
    </p>
  </div>
</div>

<h2>Practicas de Estudio</h2>
<div class="card-columns">
  <div class="card">
    <img src="assets/comicApp2.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <div class="row">
        <span class="material-icons">
          code
        </span>
        <h5 class="card-title ml-1">Comic App</h5>
      </div>

      <p class="card-text">
        Curso Udemy
      </p>
      <ul>
        <li>Angular</li>
        <li>
          <a href="#">Ver Aplicación</a>
        </li>
        <li>
          <a href="#"> Ver código github</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <img src="assets/spotiApp1.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <div class="row">
        <span class="material-icons">
          code
        </span>
        <h5 class="card-title ml-1">SpotiApp</h5>
      </div>

      <p class="card-text">
        Curso de Udemy
      </p>
      <ul>
        <li>Angular</li>
        <li>
          <a href="#">Ver Aplicación</a>
        </li>
        <li>
          <a href="#"> Ver código github</a>
        </li>
      </ul>
    </div>
  </div>
</div>
