<div class="jumbotron mt-2">
  <h4 class="display-4 orange">HSKNDR</h4>
  <p class="lead">Designing and Developing as a child</p>
  <hr class="my-4" />
  <p>By Hiskander Aguillón</p>
  <a class="btn btn-outline-warning btn-lg" href="#" role="button"
    >Take a look</a
  >
</div>

<h2 class="text-center">PROYECTS</h2>
<div class="card-columns">
  <div class="card">
    <img src="assets/comicApp2.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <div class="row">
        <span class="material-icons">
          code
        </span>
        <h5 class="card-title ml-1">Comic App</h5>
      </div>

      <p class="card-text">
        Curso Udemy
      </p>
      <ul>
        <li>Angular</li>
        <li>
          <a href="#">Ver Aplicación</a>
        </li>
        <li>
          <a href="#"> Ver código github</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <img src="assets/spotiApp1.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <div class="row">
        <span class="material-icons">
          code
        </span>
        <h5 class="card-title ml-1">SpotiApp</h5>
      </div>

      <p class="card-text">
        Curso de Udemy
      </p>
      <ul>
        <li>Angular</li>
        <li>
          <a href="#">Ver Aplicación</a>
        </li>
        <li>
          <a href="#"> Ver código github</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <img src="assets/spotiApp1.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <div class="row">
        <span class="material-icons">
          code
        </span>
        <h5 class="card-title ml-1">SpotiApp</h5>
      </div>

      <p class="card-text">
        Curso de Udemy
      </p>
      <ul>
        <li>Angular</li>
        <li>
          <a href="#">Ver Aplicación</a>
        </li>
        <li>
          <a href="#"> Ver código github</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<span class="clear-fix"></span>
