
article{
  margin: 0.5em;
}

mat-card {
  background-color: rgba(255,255,255,0.1);

}


.card-img-top {
  min-height: 15rem;
}

.card-text {
  height: 7rem;
  font-size: 0.9rem;
  overflow: hidden;
}
