<span class="clear-fix"></span>

<mat-card class="card">
  <div class="jumbotron mt-2">
    <h4 class="display-4 orange">HSKNDR</h4>
    <p class="lead">Designing and Developing</p>
    <hr class="my-4" />
    <p>By Hiskander Aguillón</p>
    <button class="btn btn-outline-warning btn-lg" [routerLink]="['/blog/home-blog']" role="button">Take a look to my
      Blog</button>
  </div>
</mat-card>

<mat-card class="card">

  <button class="btn btn-outline-warning btn-lg" [routerLink]="['/portfolio']" role="button">
    LAST PROYECT
  </button>
</mat-card>

<mat-card class="card">

  <button class="btn btn-outline-warning btn-lg" [routerLink]="['/blog/home-blog']" role="button">
    LAST POST
  </button>
</mat-card>
<!-- <mat-card class="card">PRECIOS DE LAS BILLETERAS</mat-card>
<mat-card class="card">ULTIMOS SERVICIOS VENDIDOS</mat-card>
 --><span class="clear-fix"></span>
<span class="clear-fix"></span>
