.grid-container {
  margin: 10px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  min-height: 1rem;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

a {
  color: #000000;
  text-decoration: none;
}

.dashboard-card-content {
  text-align: justify;
  margin-top: 5px;

}

.dashboard-card-content label {
  font-weight: 500;
  margin-top: 5px;

}
