.profile-card {
  width: 100%;
  height: 100vh;
  .label {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    margin: 20px;
    text-align: center;
    border-radius: 50%;

    p {
      position: absolute;
      width: 100%;
      background-color: rgba(229, 85, 40, 0.8);
      color: white;
      text-transform: uppercase;
      transition: all 0, 5s ease;
    }
    img {
      border-radius: 50%;
      display: block;
      width: 150px;
      height: 150px;
      border: 2px solid white;
      &:hover {
        border: 2px solid rgba(110, 33, 10, 0.8);
        cursor: pointer;
      }
    }
  }
  .bottom {
    p {
      bottom: -50%;
    }
    &:hover p {
      bottom: 0%;
    }
  }

  mat-card-header {
    justify-content: center;
  }

  mat-form-field,
  input.mat-flat-button {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  input.mat-flat-button {
    background: rgba(229, 85, 40, 0.8);
    padding: 0.4rem;
    color: white;
    &:hover{
      background-color: rgba(110, 33, 10, 0.8);
    }
  }

  .mat-dialog-actions {
    width: 100%;
    min-height: 150px;
    margin-top: 3rem;
  }
}
