a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

a:hover {
  color: rgba(229, 85, 40, 0.5)!important;
}

.bg-dark {
  background-color: rgba(22, 26, 47, 0.5)!important;
}

.active {
  background-color: rgba(229, 85, 40, 0.1)!important;
  border-radius: 5px;
}

.material-icons {
  font-size: 1rem;
}

.imageProfileNavbar {
  border-radius: 50px;
}

.mat-toolbar {
  background: rgb(22, 26, 47);
  border-bottom: 1px solid rgba(19, 24, 48, 0.5);
}

