/* Background color */

.mat-toolbar {
  background: rgb(22, 26, 47);
}

.nav-img {
  width: 3em;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

a:hover {
  color: rgba(229, 85, 40, 0.5)!important;
}

/* Active Router */

.active {
  background-color: rgba(229, 85, 40, 0.1)!important;
  border-radius: 5px;
}

.material-icons {
  font-size: 1em;
}

/* user-info */

.user-info {

}

.imageProfileNavbar {
  border-radius: 50px;
}


/* Responsive */

@media (max-width: 575.98px) {

}




a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  border-radius: 3px;
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}
