a{
  color: #ffffff;
  text-decoration: none;
}

.bg-dark{
  background-color: rgba(22,26,47,0.5)!important;
}

.activeNavbar{
  color: rgba(229,85,40,0.5)!important;

}

.material-icons{
  font-size: 1rem;
}
