<article class="article-test">
  <app-transfer-budget></app-transfer-budget>
</article>
<br>

<hr>
{{person1.namePerson}} <button (click)="personRuns()">runs</button>
<br>
{{ninja1.namePerson}} <button (click)="ninjaInfo()">ninja info</button>
<hr>

<br>

<article fxLayout="row" fxLayoutAlign="space-around center">

  <mat-card>
    <app-r-form></app-r-form>
  </mat-card>
  <mat-card>
    <app-t-form></app-t-form>
  </mat-card>
</article>

<br>

<article class="article-test">
  <mat-card>
    <app-upload-image></app-upload-image>
  </mat-card>
</article>
