<article class="login-register-container">

  <h2>Cotizador para Fletes</h2>
  <mat-card class="login-register-card">

    <form [formGroup]="transferForm" (ngSubmit)="onTransfer()">

      <mat-form-field appearance="fill">
        <mat-label>Punto '0' a Punto de Carga</mat-label>
        <input matInput type="number" formControlName="point0to1" required>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Punto de Carga a Punto de Descarga</mat-label>
        <input matInput type="number" formControlName="point1to2" required>
      </mat-form-field>
      <br>


      <mat-form-field appearance="fill">
        <mat-label>Nro de Servicios</mat-label>
        <input matInput type="number" formControlName="quantity">
      </mat-form-field>
      <br>


      <mat-form-field appearance="fill">
        <mat-label>Punto de Carga a Punto '0'</mat-label>
        <input matInput type="number" formControlName="point2to0" required>
      </mat-form-field>
      <br>

      <button mat-raised-button color="primary" type="submit" [disabled]="!transferForm.valid">Cotizar</button>
    </form>

    <h2>Pendiente</h2>
    <h3>Agregar el campo de busqueda de las direcciones</h3>

  </mat-card>
  <mat-card>
    <h3>Cotización Principal</h3>
    <mat-label>Casa a Punto de Carga: </mat-label>{{price0to1|currency: 'ARS':'code'}}
    <br>
    <mat-label>Punto de Carga a Punto de Descarga: </mat-label>{{price1to2|currency: 'ARS':'code'}}
    <br>
    <mat-label>Punto de Descarga a Casa </mat-label>{{price2to0|currency: 'ARS':'code'}}
    <br>
    <mat-label>Viaje Adicional </mat-label>{{priceAdSvc|currency: 'ARS':'code'}}
    <hr>
    <mat-label>Precio Total </mat-label>{{totalPrice|currency: 'ARS':'code'}}

  </mat-card>

  <mat-card>
    <h3>Cotización Cliente Nro</h3>

    <mat-label>Punto de Carga a Punto de Descarga: </mat-label>{{price1to2|currency: 'ARS':'code'}}
    <br>

    <mat-label>Viaje Adicional </mat-label>{{priceAdSvc|currency: 'ARS':'code'}}
    <hr>
    <mat-label>Precio Total </mat-label>{{totalPrice|currency: 'ARS':'code'}}

  </mat-card>

</article>
