<div>

  <a *ngIf="user$ | async as user">
    <span class="material-icons" *ngIf="addState == false" (click)="addProject($event)">add_circle_outline</span>

    <span *ngIf="addState == !false" (click)="clearState()" class="material-icons">close</span>
  </a>

  <mat-card *ngIf="addState == true">
    <h4>ADD NEW PROJECT</h4>

    <form (ngSubmit)="onSaveProject(newProjectForm)" #newProjectForm="ngForm">

      <mat-form-field appearance="fill">
        <mat-label>Project Name</mat-label>
        <input matInput [(ngModel)]="project.title" #title="ngModel" name="title" type="text" id="title" maxlength="10" required>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Repository</mat-label>
        <input matInput [(ngModel)]="project.urlRepo" #urlRepo="ngModel" name="urlRepo" type="text" class="form-control"
          id="urlRepo" required />
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Project</mat-label>
        <input matInput [(ngModel)]="project.urlProject" #urlProject="ngModel" name="urlProject" type="text"
          class="form-control" id="urlProject" required />
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Project Description</mat-label>
        <textarea matInput [(ngModel)]="project.description" #description="ngModel" name="description"
          class="form-control" id="description" placeholder="Required example textarea" required></textarea>
      </mat-form-field>
      <br>

      <button mat-button color="warn" type="submit">Add Project</button>

    </form>
  </mat-card>
</div>
