mat-card-header {
  padding: 0.1em;
}

mat-card-title {
  width: 10rem;
}
h2, h3{
  text-align: center;
}
mat-card-header a {
  padding: 0.1em;
}

mat-card-content {
  height: 8rem;
  overflow: scroll;
  cursor: pointer;
}
mat-card-content p{
  margin: 1rem;
  text-align: justify;
}
mat-card-footer {
  height: 2.5em;
}

mat-card-actions {
  height: 2.5em;
  margin: 0;
  padding: 0;
}

a, .material-icons, .mat-icon, mat-icon {
  cursor: pointer;
  color: rgb(229, 85, 40);
}

a:hover, .material-icons:hover {
  color: rgba(229, 85, 40, 0.5);
}

.material-icons {
  /*  color: #FFFFFF; */
  color: black;
}

button {
  color: rgba(229, 85, 40, 0.5);
}

/* Form edit */

form {
  /*  color: #FFFFFF; */
  color: black;
}

mat-label {
  /*  color: #FFFFFF; */
  color: black;
}

.form-container {
  width: 10rem;
}

.over-absolute {
  position: absolute;
  padding: 1rem;
  width: 100%;
  z-index: 100;
}

mat-form-field {
  margin-bottom: 0.1em;
  width: 100%;
  width: 10rem;
}
