
mat-card-header {
  padding: 0.1em;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card-title {
  width: 10rem;
}

mat-card-header a {
  padding: 0.1em;
}

mat-card-content {
  height: 8rem;
  overflow: scroll;
  cursor: pointer;
}

mat-card-footer {
  height: 2.5em;
}

mat-card-actions {
  height: 2.5em;
  margin: 0;
  padding: 0;
}

a, .material-icons, .mat-icon, mat-icon {
  cursor: pointer;
  color: rgb(229, 85, 40);
}

a:hover, .material-icons:hover {
  color: rgba(229, 85, 40, 0.5);
}

.material-icons {
  color: white;
}

button {
  color: rgba(229, 85, 40, 0.5);
}

/* Form edit */

form {
  color: #fff;
}

mat-label {
  color: #fff;
}

/* .card {
  border: 1px solid red;
} */

.form-container {
  background-color: rgba(22, 26, 47, 1);
}

.over-absolute {
  position: absolute;
  background: rgb(22, 26, 47);
  width: 100%;
  margin-left: -1em;
  z-index: 100;
}

mat-form-field {
  margin-bottom: 0.1em;
}
