<article class="card-circle" style="text-align: center;">
  <app-new-project></app-new-project>
</article>

<h2>PROJECTS</h2>

<article class="wrap-container" *ngIf="projects?.length > 0; else noProjects">

  <mat-card class="wrap-content" *ngFor="let project of projects">

    <mat-card-header>
      <mat-card-title>{{ project.title|uppercase }}</mat-card-title>
      <a *ngIf="user$ | async as user">
        <span *ngIf="editState == false" (click)="editProject($event, project)" class="material-icons">mode_edit</span>
        <mat-icon *ngIf="editState && projectToEdit.id == project.id" (click)="clearState()">close</mat-icon>
      </a>
    </mat-card-header>

    <!-- Form Edit -->
    <mat-card class="form-container over-absolute" *ngIf="editState && projectToEdit.id === project.id">
      <form (ngSubmit)="onUpdateProject(project)">
        <mat-form-field appearance="fill">
          <mat-label class="orange">Project Name</mat-label>
          <input matInput [(ngModel)]="project.title" #title="ngModel" name="title" type="text" id="title" maxlength="10" required>
        </mat-form-field>

        <mat-form-field apperance="fill">
          <mat-label class="orange">Repo</mat-label>
          <input matInput [(ngModel)]="project.urlRepo" #urlRepo="ngModel" name="urlRepo" type="url" id="urlRepo"
            required>
        </mat-form-field>

        <mat-form-field apperance="fill">
          <mat-label class="orange">Project</mat-label>
          <input matInput [(ngModel)]="project.urlProject" #urlProject="ngModel" name="urlProject" type=""
            id="urlProject" required>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label class="orange">Textarea</mat-label>
          <textarea matInput [(ngModel)]="project.description" #description="ngModel" name="description"
            id="description" placeholder="Required example textarea" required></textarea>
        </mat-form-field>

        <mat-toolbar-row>

          <button mat-button type="submit">
            <mat-icon>save</mat-icon>
          </button>
          <span class="tool-bar-space"></span>
          <button mat-button (click)="onDeleteProject($event, project)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-toolbar-row>

      </form>
    </mat-card>
    <!-- Form Edit -->
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>
        {{ project.description }}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button *ngFor="let skill of project.skills">
        {{ skill | uppercase }}
      </button>
    </mat-card-actions>

    <mat-card-footer>
      <button mat-button>
        <a [href]="project.urlProject" target="_blank">Project</a>
      </button>

      <button mat-button>
        <a [href]="project.urlRepo" target="_blank">Repository</a>.
      </button>
    </mat-card-footer>


  </mat-card>


</article>

<ng-template #noProjects>
  <hr />
  <h3 class="text-center">THERE ARE NOT PROJECTS</h3>
  <hr />
</ng-template>
